<!DOCTYPE html>
<html>
  <head>

    <title>Flasky</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet">

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">

    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">

  </head>

  <body>

    <div
      class="navbar navbar-inverse"
      role="navigation">

      <div class="container">

        <div class="navbar-header">

          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse">

            <span class="sr-only">
              Toggle navigation
            </span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>

          <a
            class="navbar-brand"
            href="/">

            Avaliação contínua:
            <b>Aula 050.B</b>

          </a>

        </div>


        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">

            <li>
              <a href="{{ url_for('index') }}">
                Home
              </a>
            </li>

            <li>
              <a href="{{ url_for('login') }}">
                Login
              </a>
            </li>

          </ul>

        </div>

      </div>

    </div>


    <div class="container">

      {% block page_content %}
      {% endblock %}

    </div>


    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>

    <script
      src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
      crossorigin="anonymous">
    </script>


    <script>

      moment.locale("en");


      function flask_moment_render(elem) {

          const timestamp =
              moment(elem.dataset.timestamp);

          const func =
              elem.dataset.function;

          const format =
              elem.dataset.format;

          const timestamp2 =
              elem.dataset.timestamp2;

          const no_suffix =
              elem.dataset.nosuffix;

          const units =
              elem.dataset.units;

          let args = [];


          if (format)
              args.push(format);

          if (timestamp2)
              args.push(
                  moment(timestamp2)
              );

          if (no_suffix)
              args.push(no_suffix);

          if (units)
              args.push(units);


          elem.textContent =
              timestamp[func].apply(
                  timestamp,
                  args
              );


          elem.classList.remove(
              "flask-moment"
          );

          elem.style.display = "";

      }


      function flask_moment_render_all() {

          const moments =
              document.querySelectorAll(
                  ".flask-moment"
              );


          moments.forEach(
              function(elem) {

                  flask_moment_render(
                      elem
                  );


                  const refresh =
                      elem.dataset.refresh;


                  if (
                      refresh &&
                      refresh > 0
                  ) {

                      (function(
                          element,
                          interval
                      ) {

                          setInterval(
                              function() {

                                  flask_moment_render(
                                      element
                                  );

                              },
                              interval
                          );

                      })(
                          elem,
                          refresh
                      );

                  }

              }
          );

      }


      document.addEventListener(
          "DOMContentLoaded",
          flask_moment_render_all
      );

    </script>


    {% block scripts %}
    {% endblock %}

  </body>

</html>
