{% extends "base.html" %}

{% block page_content %}

<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <div class="panel panel-default">

            <div class="panel-body"
                 style="padding: 30px;">

                <h2>Login:</h2>

                <form
                    action=""
                    method="post"
                    role="form">

                    <div class="form-group">

                        <input
                            class="form-control"
                            id="usuario"
                            name="usuario"
                            type="text"
                            placeholder="Usuário ou e-mail"
                            required>

                    </div>

                    <div class="form-group">

                        <input
                            class="form-control"
                            id="senha"
                            name="senha"
                            type="password"
                            placeholder="Informe a sua senha"
                            required>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        Enviar

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>


<br>

<p>
    The local date and time is

    <span
        class="flask-moment"
        data-timestamp="{{ timestamp }}"
        data-function="format"
        data-format="LLL"
        data-refresh="0"
        style="display: none">

        {{ timestamp }}

    </span>.
</p>


<p>
    That was

    <span
        class="flask-moment"
        data-timestamp="{{ timestamp }}"
        data-function="fromNow"
        data-refresh="60000"
        style="display: none">

        {{ timestamp }}

    </span>.
</p>

{% endblock %}
